@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body{
  background-color: #050505;
  font-family: Comfortaa, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f5f5f5ff;
  font-size: 62.5%;
  margin: 2% 5%;
}
html {
  font-size: 2rem;
  text-transform: uppercase;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}






.headingUl {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px #f5f5f520;
  padding: 2% 0; 
}

.headingUl li{
  color: #f5f5f520;
  font-size: 1rem;
  transition: 250ms;
}

.headingUl li:hover {
  color: #f5f5f550;
  transform: scale(1.2);
  cursor: pointer;
}

.headingUl li:first-of-type{
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 75%;
}

.headingUl li:first-of-type:hover{
  transform: none;
}

.newPageForm .input,
.newNoteForm .input {
  font-family: inherit;
  font-size: .5rem;
  border-radius: 50px;
  background: #f5f5f520;
  border: none;
  width: 70%;
  padding: 2%;
  color: #f5f5f590;
}

.newPageForm .button,
.newNoteForm .button {
  font-family: inherit;
  font-size: 1.2rem;
  background: none;
  border: none;
  padding: 0 0 0 5%;
  color: #f5f5f520;
  cursor: pointer;
  transition: 150ms;
}

.newPageForm .button:hover,
.newNoteForm .button:hover {
  color: #f5f5f550;
  transform: scale(1.2);
}
.noteFormContainer {
  width: 50%;
}
.newNoteForm input{
  width: 100%;
  text-transform: none;
}
.rating {
  align-items: center;
  flex-direction: row;
  margin: 0 5%;
}

.pagesDisplay {
  padding: 2% 0;
  grid-column-gap: 3%;
  grid-row-gap: 5%;
  grid-template-columns: repeat(1fr, 8);
  grid-template-rows: 20vh;
  align-items: stretch;
  justify-items: stretch;

}
.page{
  color: #f5f5f580;
  background: #85c8f570;
  border-radius: 20px;
  padding: 7%;
  justify-content: space-around;
  align-items: flex-start;
  text-transform: none;
  flex-flow: row wrap;
}
.page0{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.page1{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.page2{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}
.page3{
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}
.page4{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.page5{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
.page6{
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}
.page7{
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
}
.logout{
  width: 100% !important;
  margin: auto;
  text-align: center;
}


.page span  {
  text-align: left;
}

.truepageTitle, .falsePageTitle {
  width: 100%;
}
.flasepageMenu {
  flex-flow: row wrap;
}
.falsepageMenu .falsepageActions {
  width: 100%;
  padding-bottom: 5%; 
}
.falsepageActions h2 {
  width: 85%;
}
.pagepageAction span {
  width: 15%;
  text-align: right;
}
.truepageActions {
  width: 100%;
  justify-content: space-between;
  padding: 2% 0 5% 0;
}
.truepageActions h2 {
  width: 90%;
}
.truepageMenu {
  justify-content: stretch ;
  align-items: center;
  flex-direction: column;
  width: 25%;
}
.pageMenu > .pageActions {
  width: 90%;
  padding: none;
  margin: none;
  justify-content: space-between;
}
.pageMenu > span {
  padding: 5% 0 ;
  width: 100%;
  text-align: left;
}
.truepageTitle {
  width: 100%;

}
.noteFormContainer{
  width: 100%;
}
.noteFormContainer > form{
  width: 95%;
  padding: 2.5%;
  margin: 2% 0;
}
.falsepageTitle:hover {
  color: #f5f5f5;
  text-decoration: underline;
  cursor: pointer;
}

.page .deletePage:hover {
  color: #f5f5f5;
  transform: scale(1.2);
}

.trueExpand .notesContainer{
  width: 70%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(5vh, auto);
  justify-content: flex-start;
  align-items: stretch;
  justify-items: flex-start;
}
.note {
  font-size: .5rem;
  border-radius: 20px;
  width: 20%;
  color: #050505;
  padding: 2%;
  margin: .5%;
}
/* .note:hover {
  cursor: grab;
} */
.check:hover {
  cursor: pointer;
}
.note .noteDelete:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: white;
}


.trueExpand {
  background: #050505;
  color: #f5f5f590;
  position: absolute;
  height: 100vh;
  width: 90%;
  margin: 0;
  padding: 0;
}
.trueExpand .truepageTitle:hover {
  text-decoration: none;
  transition: none;
  cursor: default;
  color: inherit;
}

/* .trueExpand .pageTitle {
  text-align: right;
  width: 40%;
  padding-right: 2%;
} */

.trueMinimize:hover {
  cursor: pointer;
  transform: scale(120%);
  color: #f5f5f5;
}

.trueNewNotes,
.trueNote,
.trueMinimize,
.trueDelete {
  display: block;
}

.falseNewNotes,
.falseNote,
.falseMinimize,
.falseDelete,
.trueNewPageForm {
  display: none;
}
a:link, a:visited {
  color: #85c8f5;
  text-decoration: none;
}
.headerNav ul{
  width: 100%;
  justify-content: flex-end;
  padding: 0 0 2% 0;
}
.headerNav ul li {
  font-size: 1rem;
  padding: 0 2%;
}

/* .siteIntro {

} */
.siteIntro h1 {
  color: #85c8f5;
  font-size: 3.5rem;
  padding: 0 0 2.5% 0;
  margin: 0 0 2.5% 0;
  border-bottom: 5px solid #85c8f5;
  border-radius: 10px;
  width: 100%;
}
.intro {
  background: #85c8f550;
  padding: 2%;
  border-radius: 10px;
  justify-content: space-between;
  width: 40%;
}
.intro p {
  text-transform: none;
  line-height: 150%;
  width: 100%;
  font-size: .8rem;
}
.intro ul {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.intro ul li {
  text-align: center;
  width: 50%;
  border: solid 5px #85c8f5;
  background: #85c8f530;
  border-radius: 10px;
  padding: 3% 2%;
  margin: 5% 0 2% 0;
}
.intro ul li a {
  color: #85c8f5;
  font-size: .7rem;
  font-weight: 800;
}
.intro-img {
  width: 55%;
}
.siteInfo {
  margin: 2.5% 0;
  padding: 2.5% 0;
  border-top: 5px solid #85c8f5;
  border-bottom: 5px solid #85c8f5;
  border-radius: 10px;
  justify-content: space-between;
  justify-items: center;
}
.siteInfo h2 {
  width: 100%;
  font-size: 2.5rem;
  color: #85c8f5;
  padding: 0 0 2% 0;
}
.siteInfo div {
  width: 55%;
  text-transform: none;
  line-height: 150%;
  text-indent: 2%;
}
.siteInfo div p {
  padding: .5%
}
.contact-form {
	width: 35%;
	line-height: 175%;
	padding: 1.5%;
  background: #85c8f5;
  border-radius: 10px;
}
.info-form {
  text-align: center;
	width: 35%;
  margin: 5% 32.5%;
	line-height: 175%;
	padding: 1.5%;
  background: #85c8f5;
  border-radius: 10px;
}
input[type=text], select, textarea, 
input[type=email], input[type=password], input[type=submit] {
	width: 100%; 
	padding: 12px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px;
	background-color: #050505;
  border-radius: 50px;
	color: #f5f5f5;
	resize: vertical;
	box-shadow: none;
	border: none;
	font-family: inherit;
  }
  button[type=submit] {
	background-color: #050505;
	color: #85c8f5;
	font-weight: 700;
	padding: 1%;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	width: 20%;
	margin: 1% 40%;
	font-family: inherit;

  }
  input[type=submit]:hover {
	  background-color: #fff;
    color: #85c8f5;
  }
